In [2]:
#1Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla
mi_variable = 456

In [3]:
print(mi_variable)

456

In [4]:
#2Imprimir el tipo de dato de la constante 8.5
constante = 8.5

In [5]:
type(constante)

float

In [6]:
#3Imprimir el tipo de dato de la variable creada en el punto 1
type(mi_variable)

int

In [44]:
#4Crear una variable que contenga tu nombre
nombre = "Oscar Javier Fajardo"

In [9]:
#5Crear una variable que contenga un número complejo
numero_complex = 4+1j

In [10]:
#6Mostrar el tipo de dato de la variable crada en el punto 5
type(numero_complex)

complex

In [11]:
#7Crear una variable que contenga el valor del número Pi redondeado a 4 decimales
pi = 3.1416

In [14]:
#8Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?
variable1 = 'True'
variable2 = True
"No"

'No'

In [15]:
#9Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9
type(variable1 and variable2)

bool

In [17]:
#10Asignar a una variable, la suma de un número entero y otro decimal
entero = 456
decimal = 97.25
resultado = entero + decimal

In [45]:
print(resultado)

553.25

In [18]:
#11Realizar una operación de suma de números complejos
complex1 = 45 + 1j
complex2 = 77 + 3j

In [19]:
print(complex1 + complex2)

(122+4j)

In [20]:
#12Realizar una operación de suma de un número real y otro complejo
numero_real = 456.24
numero_complejo = 77 + 3j

In [21]:
print(numero_real + numero_complejo)

(533.24+3j)

In [22]:
#13Realizar una operación de multiplicación
numero1 = 2456
numero2 = 256

In [23]:
print(numero1 * numero2)

628736

In [30]:
#14Mostrar el resultado de elevar 2 a la octava potencia
y = 2
x = 8

In [32]:
print(y**x)

256

In [37]:
#15Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla
y = 27
x = 4

In [38]:
print(y/x)

6.75

In [40]:
#16De la división anterior solamente mostrar la parte entera
y = 27
x = 4

In [41]:
print(y//x)

6

In [42]:
#17De la división de 27 entre 4 mostrar solamente el resto
y = 27
x = 4

In [43]:
print(y%x)

3

In [48]:
#18Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado
a = 4
b = 6
c = 3
result = (a * b + c)

In [49]:
print(result)

27

In [60]:
#19Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

x = "hola"
y = "mundo"
result = (x  +  y)

In [61]:
print(result)

holamundo

In [64]:
#20Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?
m = "2"
n = 2 
"no es igual porque m es una variable string; mientras que n es un número entero"

In [66]:
#21Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera
m = "2"
n = 2
result = (m!=n)

In [67]:
print(result)

True

In [69]:
#22¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')
a = float('3,8')
#Porque el número flotante está con coma (,) y no con punto (.)

ValueError: could not convert string to float: '3,8'

In [73]:
#23Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido
x = 3
x -= 2
print(x)

1

In [74]:
#24Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?
x = 1
y = 2
c = (x << y)

In [75]:
print(c)

4

In [77]:
#25Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, 
#siempre arrojaría el mismo resultado?
ñ = 2
m = '2' 
n = (ñ + m)

#Porque no se pueden hacer operaciones entre un valor entero y un string
#Sí

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [84]:
#26Realizar una operación válida entre valores de tipo entero y string
x = 25
y = "2b"
val = (x == y)

In [85]:
print(val)

False